*{

    margin: auto;
}

body h1{
    
    background-color:rgba(255, 128, 255, 0.9);
    margin-left: 610px;
    margin-right: 610px;
    color: blueviolet;
    



}


header h1 {

background-color: yellowgreen;
color: black;
margin-left: 600px;
margin-right: 520px;

}
body nav ul li  {

display: inline-block;
padding: 50px;
background-color: sienna;
margin-left: 250px;


}

footer {

    background-color: slateblue;
}

a {

    font-style: normal;
    color: cadetblue;
    text-decoration: none;
}

body header img {

    width: 1400px;
    height: 200px;
}

p {
    
background-color: rosybrown;
color: darkblue;
font-size: larger;
float: left;

    }


html {

    background-color: teal;
}

